
@{
    Layout = "_Layout";
}

<form action="/" method="post">
    <input type="text" id="Name" placeholder="Adınız" />
    <br />
    <input type="text" id="Name" placeholder="Soyadınız" />
    <br />
    <textarea id="Massege" placeholder="Mesajınız...."> </textarea>
    <br />
    <input type="button" value="Gönder" onclick="Page.Contact.Send();" />

</form>
